{% extends 'base.html.twig' %}

{% block title %}Login{% endblock %}

{% block body %}
    <div class="panel-centered-content-container">
        <div class="panel-default-card" style="width: 50em;">
            <div class="panel-default-card-header">
                <h2 class="colorful-title">
                    Login
                </h2>
            </div>

            <!-- Flash messages -->
            {% if error %}
                <div class="panel-alert-default panel-alert-danger">
                    {{ error.messageKey|trans(error.messageData, 'security') }}
                </div>
            {% endif %}

            {% if app.user %}
                <div class="panel-alert-default panel-alert-success">
                    Connected as {{ app.user.userIdentifier }}. <a href="{{ logout_path() }}" class="hyperlink">Logout</a>
                </div>
            {% endif %}

            <!-- Form -->
            <form method="post" class="panel-form">
                <div class="panel-form-group">
                    <label for="username" class="panel-form-label">Username</label>
                    <input type="text" value="{{ last_username }}" name="_username" id="username" class="text-input" autocomplete="username" required autofocus>
                </div>

                <div class="panel-form-group">
                    <label for="password" class="panel-form-label">Password</label>
                    <input type="password" name="_password" id="password" class="text-input" autocomplete="current-password" required>
                </div>

                <input type="hidden" name="_csrf_token" data-controller="csrf-protection" value="{{ csrf_token('authenticate') }}">

                <button class="default-button orange-button" type="submit">
                    Login
                </button>
            </form>
        </div>
    </div>
{% endblock %}
